<div class="container">
  <h1>Welcome to {{ title }}</h1>
  <h4>Please enter two numbers, select an operator and click '='.</h4>
  <form>
    <div class="row form-inline">
      <fieldset>
        <input type="text"
               class="form-control"
               id="firstOperand"
               [formControl]="firstOperand"
               placeholder="Any number">
        <select class="form-control"
                id="operatorSelect"
                [formControl]="operator">
          <option value="ADD">+</option>
          <option value="SUBTRACT">-</option>
          <option value="MULTIPLY">*</option>
          <option value="DIVIDE">/</option>
        </select>
        <input type="text"
               class="form-control"
               id="secondOperand"
               [formControl]="secondOperand"
               placeholder="Any number">
        <button type="button"
                class="btn btn-primary"
                [disabled]="isButtonDisabled()"
                (click)="performCalculation()">=</button>
        <span *ngIf="isCalulationResultVisible()"> {{ calculationResult }}</span>
      </fieldset>
    </div>
  </form>

  <blockquote
    *ngIf="isCalulationErrorVisible()"
    class="blockquote">
    <p class="mb-0">Invalid request: {{ calculationError }}</p>
  </blockquote>
</div>
